<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="life.majiang.community.mapper.QuesstionMapper">

 	<insert id="insert" parameterType="life.majiang.community.model.Quesstion">
		insert into question(
		 title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count,tag
		)values(
		#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{commentCount},#{viewCount},#{likeCount},#{tag}
		)
	</insert>
	
	<select id="findById" resultType="life.majiang.community.model.Quesstion">
	 select * from question where id=#{id}
	</select>

</mapper>