<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="life.majiang.community.mapper.UserMapper">

 	<insert id="insert" parameterType="life.majiang.community.model.User">
		insert into user(
		 account_id,name,token,gmt_create,gmt_modified,bio,avatar_url
		)values(
		#{accountId},#{name},#{token},#{gmtCreate},#{gmtModified},#{bio},#{avatarUrl}
		)
	</insert>
	
	<select id="findUserByToken" resultType="life.majiang.community.model.User">
	 select * from user where token=#{token}
	</select>
	
	<select id="findById" resultType="life.majiang.community.model.User">
	 select * from user where id=#{id}
	</select>
	
	<select id="selectByIds" resultType="life.majiang.community.model.User">
	 select * from user where id in 
		<foreach collection="list" item="id" open="(" separator="," close=")">
		#{id}
		</foreach>
	</select>	
	
	<select id="findByAccountId" resultType="life.majiang.community.model.User">
	 select * from user where account_id=#{accountId}
	</select>
	
	  	<update id="update" parameterType="life.majiang.community.model.User">
		update user
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="token!=null">
				token=#{token},
			</if>
			<if test="gmtModified!=null">
				gmt_modified=#{gmtModified},
			</if>
			<if test="avatarUrl!=null">
				avatar_url=#{avatarUrl}
			</if>
		</set>
		where
		id=#{id}
	</update>

</mapper>
	
	
	
	
	