.main{
	margin: 30px;
	background-color: white;
}
.btn-publish{
	opacity:0.5 ;
	float: right;
	margin-bottom: 15px;
}

body{
/*   background:#fff url(../image/11.PNG) no-repeat left top;
  background-size:100%; */
  background-color: #efefef;
}

.media-object{
	width: 52px;
	height: 52px;
}

.text-desc{
	font-size: 12px;
	font-weight: normal;
	color: #999;
}

.profile .section{
	margin-top: 15px;
}
